/* carousel part */
.carousel-item h1,
h2 {
    font-weight: 700;
}

.all-button {
    background-color: #FF2D80;
    color: white;
    font-weight: 700;
}

.carousel-item .row {
    background-color: #FCEAE8;
}


/* categories part */
.categories img {
    width: 45%;
}

.text-sent-part {
    background-color: #FCEAE8;
    padding: 50px 0;
}

/* responsive part */